body {
    background-color: #c0c0c0;
    font-family: 'Varela Round', sans-serif;
    line-height: 1.5;
    margin: 0;
    min-block-size: 100vh;
    padding: 5vmin;
  }
h1{
    text-align: center;
}
.formulario_content{
    margin-top: 5%;
    margin-left: 25%;
    background-color: #ffffff;
    width: 50%;
    border-radius: 1.25em;
}

.col { 
    display:flex; 
    justify-content: center;
}

.flex-box { 
    display:flex; 
    justify-content:space-between; 
}

.text{
    text-align: center;
    
}


.login__header {
    background-color: #007028;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    color: #fbfcfc;
    padding: 1.25em 1.625em;
}
  
.login__header :first-child {
  margin-top: 0;
}

.login__header :last-child {
  margin-bottom: 0;
}